body{
    margin: 0;
    padding: 0;
}

.flex-container{
    background-color: magenta;
    margin: 1em;
    padding: 1em;
    border: 2px solid black;

    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}


.flex-child{
    background-color: rgb(253, 201, 250);
    border-radius: 20px;
    padding: 1em;
    color: black;
}